<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Homepage</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="/blog">Publications</a></li>
			<li {% if current[1] == 'cv.html' %}class='current'{% endif %}><a href="/cv.html">CV</a></li>
			<!-- <li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a href="/right-sidebar.html">Contact</a></li> -->
			<!-- <li {% if current[1] == 'no-sidebar.html' %}class='current'{% endif %}><a href="/no-sidebar.html">No Sidebar</a></li> -->
		</ul>
	</nav>
</div>
